RewriteEngine On

# Continuation char '\': must have NO white space following the slash
# [QSA] flag = Query String Append  *IF [QSA] IS MISSING QUERY STRINGS ARE IGNORED*
# [L] flag = if rule matches, stop - if [L] missing continue applying subsequent rules

# Remove any query string from the main root script
 RewriteRule  ^index.php  index.php?  [L]

 RewriteRule  ^pages/los-angeles-videos-stillframes/(.+)$ \
               entry-pt/index-pages.php?pg=los-angeles-videos-stillframes&imgpgopt=$1  [QSA] [L]

 RewriteRule  ^pages/(.+)-videos-welcome/(.+)$ \
               entry-pt/index-pages.php?pg=$1-videos-welcome&vidoptnum=$2  [QSA] [L]

# Look for "pages" followed by a slash and then the page name QS value
 RewriteRule  ^pages/(.+)$  entry-pt/index-pages.php?pg=$1  [QSA] [L]
